body{
  font-family: Arial;
  background:#00ccff
  
  
}
.Welcome {
 color: #1b2c9b;
 font-size: 27px;
 
}
.top span{
 
  color: #238885;
}
.info{
  border:2px solid red;
  padding:20px;
}
b{color:red;}
  img{
    width: 100%;
  }



